[submodule "modules/platform/vendor/SDL_ttf"]
	path = modules/platform/vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "modules/platform/vendor/SDL"]
	path = modules/platform/vendor/SDL
	url = https://github.com/libsdl-org/SDL
